<!DOCTYPE html>
<html>
<head>
  <title>Bootcamp - NodeJS - Desafio-01</title>
  <link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
  <div class="app">
    <form action="/check" method="POST">
      <h3> Verificar idade </h3>
      <input placeholder="Idade" type="number" name="age" />
      <button type="submit"> Checar </button>
    </form>
  </div>
</body>
</html>
