<!DOCTYPE html>
<html>
<head>
  <title>Bootcamp - NodeJS - Desafio-01</title>
  <link rel="stylesheet" href="./assets/styles.css">
</head>
<body>
  <div class="app">
    <div class="box">
      <h1> Você é <strong class="green"> maior </strong> de idade e possui <strong> {{age}} </strong> anos</h1>
      <a href="/"> voltar </a>
    </div>
  </div>
</body>
</html>
